NET "outA" LOC = P6 | IOSTANDARD = LVTTL;
NET "outB" LOC = P12 | IOSTANDARD = LVTTL;
NET "outC" LOC = P16 | IOSTANDARD = LVTTL;

NET "inSum" LOC = P5 | IOSTANDARD = LVTTL;
NET "inCout" LOC = P11 | IOSTANDARD = LVTTL;